/*  Hero Section  */
.hero-section {
  height: 80vh;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-content: center;
  margin: 0 auto;
  background-color: #edece9;
  padding: 3rem;
  overflow: hidden;
  z-index: 22;
}

.hero-content {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-1 {
  font-size: 5.2rem;
  font-weight: 500;
  letter-spacing: -0.03rem;
  line-height: 1.35;
  padding: 0 3rem;
}

.frontpage-card {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  position: relative;
  z-index: 22;
}

.frontpage-cards__card {
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: 22;
}

.img-card {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-1 {
  position: absolute;
  pointer-events: none;
  animation: forwardPart 5s ease-in-out 1 forwards,
    reversePart 5s ease-in-out 1 18s forwards;
  z-index: -1;
}

@keyframes forwardPart {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}

@keyframes reversePart {
  0% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.img-2 {
  position: absolute;
  pointer-events: none;
  transform: translateX(95rem);
  animation: roatateforward 6s ease-in-out 1 2s forwards,
    reverserotate 5s ease-in-out 1 16s forwards;
  z-index: 11113;
}

@keyframes roatateforward {
  0% {
    transform: translateX(95rem);
  }
  100% {
    transform: translateX(-2rem);
  }
}

@keyframes reverserotate {
  0% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(95rem);
  }
}

.img-3 {
  position: absolute;
  pointer-events: none;
  transform: translateX(95rem);
  animation: roatateforward2 8s ease-in-out 1 3s forwards,
    reverserotate2 5s ease-in-out 1 14s forwards;
  z-index: 11113;
}

@keyframes roatateforward2 {
  0% {
    transform: translateX(95rem);
  }
  90% {
    transform: translateX(-5rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes reverserotate2 {
  0% {
    transform: translateX(0rem);
  }

  100% {
    transform: translateX(95rem);
  }
}
