*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%; /*1 rem = 10px; 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #333;
}

.hero-section {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  background-color: #edece9;
  padding: 3rem;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-1 {
  font-size: 6.2rem;
  font-weight: 500;
  letter-spacing: -0.03rem;
  line-height: 1.35;
  padding: 0 3rem;
}

.gallery-section {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  height: auto;
  margin-top: -12rem;
}

.gallery-picture {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 2.5rem;
  column-gap: 2.5rem;
  padding-left: 5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45rem;
  height: 60rem;
  text-decoration-line: none;
  background-color: #221f16;
  overflow: hidden;
  position: relative; 
}

.gallery-img-1 {
  width: 100%;
  height: auto;
  object-fit: cover;
 object-position: top;
 transition-property: transform;
 transition-duration: 0.6s;
 transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
 transform-origin: center;
}

.item:hover .gallery-img-1
 {
  transform: scale(1.05);
}

.gallery-content {
  background-color: #fab487;
  padding: 3.3rem;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: end; 
  position: absolute; 
  bottom: 0; 
  left: 0;
  transition: padding 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.item:hover .gallery-content {
  padding-top: 4.55rem; 
  padding-bottom: 4.55rem;
}

.span-name {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

h3 {
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: -0.03rem;
  line-height: 1.35;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.orderlist {
  font-size: 1.8rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  opacity: 0.7;
}

li::after {
  color: rgba(0, 0, 0, 0.25);
  content: "//";
  margin: 0 1rem;
  line-height: 1.4;
}

.small-h{
  height: 50rem;
  align-self:end;
}

.small-w{
  height: 50rem;
  width: 80rem;
}

.item-self{
  justify-self: end;
}
