*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%; /*1 rem = 10px; 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
  font-family: poppins;
  font-weight: 400;
  line-height: 1;
  color: #333;
}

/*
 GALLERY SECTION
  */

.gallery-section {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  height: auto;
  margin-top: -12rem;
}

.gallery-picture {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 2.5rem;
  column-gap: 2.5rem;
  padding-left: 5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45rem;
  height: 60rem;
  text-decoration-line: none;
  background-color: #221f16;
  overflow: hidden;
  position: relative;
  z-index: 4564;
}

.gallery-img-1 {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  transform-origin: center;
}

.item:hover .gallery-img-1 {
  transform: scale(1.05);
}

.gallery-content {
  background-color: #fab487;
  padding: 3.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: end;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: padding 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.item:hover .gallery-content {
  padding-top: 4.55rem;
  padding-bottom: 4.55rem;
}

.span-name {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: #221e20;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -0.03rem;
  line-height: 1.35;
  color: #221e20;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.orderlist {
  font-size: 1.8rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  opacity: 0.7;
  color: #221e20;
}

.orderlist li:not(:last-child)::after {
  color: rgba(0, 0, 0, 0.25);
  content: "//";
  margin: 0 1rem;
  line-height: 1.4;
}

.small-h {
  height: 43rem;
  width: 38rem;
  align-self: end;
}

.small-w {
  height: 45rem;
  width: 55rem;
}

.item-self {
  justify-self: end;
}

.item-self-1 {
  justify-self: end;
  margin-top: -15rem;
  width: 37rem;
  height: 47rem;
}

.m-top {
  margin-top: -28rem;
  justify-self: end;
}
.hw-pad {
  width: 37rem;
  height: 47rem;
}

.small-mt {
  margin-top: -15rem;
}

.item-self-2 {
  justify-self: end;
  margin-top: -30rem;
  width: 37rem;
  height: 47rem;
}

.item-self-3 {
  justify-self: end;
  margin-top: -43rem;
}

.color-grey {
  background-color: #c9c1ba;
}

.color-bule {
  background-color: #0835c4;
}

.white {
  color: white;
}

.white li:not(:last-child)::after {
  color: rgb(255, 255, 255);
  content: "//";
  margin: 0 1rem;
  line-height: 1.4;
}

/* galleryend */

.endgallery {
  background-color: #221e20;
  width: 100%;
  height: 45vh;
  margin-top: -41rem;
  position: relative;
}
.end-img {
  background-image: url("../img/ascii-pattern-white.svg");
  width: 50%;
  background-size: cover;
  height: 220px;
  opacity: 0.4;
  overflow: hidden;
  position: absolute;
  left: 5.2rem;
  top: 63%;
  transform: translateY(-50%);
  z-index: 1;
}

/*
TEXT SECTION
  */

.text-section {
  background-color: #221e20;
  width: 100%;
  height: 80vh;
  padding: 5rem;
}

.text-section__h2 {
  font-size: 3.6rem;
  color: white;
  font-weight: 500;
  margin-bottom: 3rem;
}

.bg-group {
  display: flex;
  flex-direction: column;
}

.text-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-color: #fff;
  border-style: solid;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left: 0;
  border-right: 0;
  column-gap: 10rem;
  margin-bottom: -2px;
}

.tick {
  font-size: 5rem;
  color: #dde78b;
  font-weight: 500;
  letter-spacing: -0.03rem;
  text-decoration: none;
}

.tick:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 5px;
}

.text-orderlist {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.list-text {
  list-style: none;
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  color: white;
  text-transform: capitalize;
}

.list-text a {
  color: white;
  text-decoration: none;
}

.list-text a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.list-text:not(:last-child)::after {
  color: rgb(255, 255, 255);
  content: "//";
  margin: 0 1rem;
  line-height: 1.4;
}

.bg-group > div:hover {
  opacity: 1;
}

.bg-group:hover .text-content:not(:hover) {
  opacity: 0.3;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-content {
  opacity: 1;
  transition-duration: 0.9s;
}

/*
BLOCK SECTION
  */

.block-section {
  padding: 8rem 3rem;
  width: 100%;
  background-color: #edece9;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
  gap: 2.2rem;
}

.block-content {
  align-self: center;
  flex-grow: 0;
  flex-basis: 130%;
}

.block-content-p {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 3rem;
  line-height: 1.6;
  color: rgb(34, 30, 32);
}

.block-content-p::before {
  content: "«";
}

.block-content-p::after {
  content: "»";
}

.m--content {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
}

.content-name {
  font-size: 2rem;
  font-weight: 400;
}

.content-name::before {
  content: "-";
  padding-right: 6px;
}

.block-img-section {
  margin: 0;
  flex-grow: 1;
  min-width: 0;
  position: relative;
  align-self: center;
}

.block-box {
  margin: 0;
  position: relative;
  display: block;
}

.block-box::before {
  content: "{";
  font-size: 30rem;
  opacity: 0.35;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-48%);
}

.block-img {
  box-sizing: border-box;
  width: 95%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
  padding-left: 180px;
}

.logo-section {
  width: 100%;
  position: relative;
  padding: 4rem;
}

.logo-content {
  font-size: 8rem;
  margin: 6rem 3rem;
}

.logo-content_grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: 8rem 8rem 8rem;
  margin: 0 auto;
  gap: 8rem;
}

.logo-box {
  position: relative;
}

.log-img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translatey(-48%);
  border-style: none;
  object-fit: contain;
  transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.s-opacity0 {
  opacity: 0;
}
.s-opacity0:hover {
  opacity: 1;
}
