*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%; /*1 rem = 10px; 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #333;
}

.hero-section {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  background-color: #edece9;
  padding: 3rem;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-1 {
  font-size: 6.2rem;
  font-weight: 500;
  letter-spacing: -0.03rem;
  line-height: 1.35;
  padding: 0 3rem;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-1 {
  height: 100%;
  width: 60%;
  transform: rotate(-6deg);
}

.gallery-section {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  /* height: 100vh; */
}

.gallery-picture {
  display: grid;
  align-self: center;
  gap: 2.3rem;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45rem;
  text-decoration-line: none;
  background-color: #221f16;
  margin-top: -7rem;
  transition: all 0.2s;
}

.gallery-img {
  overflow: hidden;
}

.gallery-img-1 {
  width: 100%;
  height: 100%;
}

.gallery-content {
  background-color: #fab487;
  padding: 3.3rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: end;
}

.span-name {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

h3 {
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: -0.03rem;
  line-height: 1.35;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.orderlist {
  font-size: 1.8rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  opacity: 0.7;
}

li::after {
  color: rgba(0, 0, 0, 0.25);
  content: "//";
  margin: 0 1rem;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  line-height: 1.4;
}

.h-item1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45rem;

  text-decoration-line: none;
  background-color: #221f16;
  margin-top: -2rem;
  position: relative;
}

.gallery-img-2 {
  width: 100%;
  height: 100%;
}
